<footer id="footer-img">
    <img src="img/img-footer-png.png" class="card-img-top">
</footer>
<footer class="footer-distributed">

    </div>
    </div>

    <div class="footer-left">
        <div class="footer-right">

            <img src="img/utn-logo.png" class="card-img-top" alt="...">

        </div>
        <div class="footer-links">

            <a class="h3" href="/error404notfound">RECICLARG⠀</a>



            <a href="/error404notfound"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="/error404notfound"><i class="fa-brands fa-facebook"></i></a>
            <a href="/error404notfound"><i class="fa-brands fa-twitter"></i></a>
            <a href="/error404notfound"><i class="fa-brands fa-youtube"></i></a>

            <a class="sanrafel-footer" href="https://www.sanrafael.gov.ar/" target="_blank">
                <img src="img/sanrafel.png" alt="">
            </a>
        </div>

    </div>

</footer>