<footer id="footer-img">
    <img src="img/img-footer-png.png" class="card-img-top">
</footer>
<footer class="footer-distributed">

    </div>
    </div>

    <div class="footer-left">
        <div class="footer-right">

            <img src="img/utn-logo.png" class="card-img-top" alt="...">

        </div>
        <p class="footer-links">
            <a class="h3" href="">RECICLARG</a>

    </div>

</footer>