<div id="container-fluid">
    <form id="form" action="/send" method="post">
        <h3 class="h3-title">Dejános tú Consulta:</h3>
        <br>
        <div class="form-group" id="form-group">
            <label for="name">Nombre y Apellido</label>
            <br />
            <div id="input-group">
                <div class="input-group-addon"></div>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre y apellido" />
                <span class="errMsg"></span>
            </div>

        </div>

        <div class="form-group">
            <label for="email">Correo Electronico</label>
            <br />
            <div class="input-group">
                <div class="input-group-addon"></div>
                <input type="email" id="mail" name="mail" placeholder="Ingrese Correo Electronico " />
                <span class="errMsg"></span>
            </div>

        </div>

        <div class="form-group">
            <label for="cephone">Teléfono:</label>
            <br />
            <div class="input-group">
                <div class="input-group-addon"></div>
                <input type="int" id="telefono" name="telefono" placeholder="Ingrese el número" />
                <span class="errMsg"></span>
            </div>

        </div>

        <div class="form-group">
            <label for="adress">Asunto</label>
            <br />
            <div class="input-group">
                <div class="input-group-addon"></div>
                <input type="text" id="asunto" name="asunto" placeholder="Ingrese el asunto de la consulta" />
                <span class="errMsg"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="cp">Escriba su consulta aquí</label>
            <br />
            <div class="input-group">
                <div class="input-group-addon"></div>
                <textarea name="consulta" id="consulta" cols="90" rows="6" placeholder="Consulta..."></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-info">Enviar</button>
    </form>
</div>