<nav class="navbar navbar-expand-custom navbar-mainbg ">
    <a class="text-center navbar-logo h3  " href="#">RECICLARG</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector">
                <div class="left"></div>
                <div class="right"></div>
            </div>
            <li class="nav-item  active">
                <a class="nav-link" href="#maps_scroll"><i class="fa-solid fa-map"></i>Puntos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#container-fluid"><i class="far fa-address-book"></i>Conctacto</a>
            </li>
            <li class="nav-item">
                <a id="nav-link" href="#section_our_solution"><i class="fa-solid fa-circle-info"></i>Info
                    contenedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tutoriales"><i class="far fa-copy"></i>Tutoriales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recompensas"><i class="far fa-copy"></i>Recompensas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#nosotros" ;><i class="fa-solid fa-users"></i>Nosotros</a>
            </li>
        </ul>
    </div>
</nav>