<div id="nosotros">
    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-lg-12">
                    <h2 class="display-5 font-weight-light">¿Quienes Somos?</h2>
                    <p class="font-italic text-muted"> Somos un grupo de estudiantes de programación de la Facultad
                        Tecnologica de San Rafael, el cual somos 9 integrantes de diferentes provincias.
                        Actualmente estamos presentando este proyecto a modo de que sea ampliable en un futuro.
                        Procuramos con esto realizar un cambio que impacte en la comunidad de San Rafael y a su vez
                        que también sea escalable para todo el país.</p>
                </div>
            </div>

            <div class="row text-center">
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-8.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Agustin Gómez Aranda</h5><span class="small text-uppercase text-muted">Alumno
                            de Programación</span>

                    </div>
                </div>
                <!-- End-->

                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-7.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Juan Jose Barrios Schallmoser</h5><span
                            class="small text-uppercase text-muted">Alumno de Programación</span>

                    </div>
                </div>
                <!-- End-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-1.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Nicolas Zelarayan</h5><span class="small text-uppercase text-muted">Alumno
                            de Programación</span>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-2.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Gonzalo Araya</h5><span class="small text-uppercase text-muted">Alumno de
                            Programación</span>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-3.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Angelo Martin Pertus</h5><span class="small text-uppercase text-muted">Alumno
                            de Programación</span>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-4.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Cristian Alderetes</h5><span class="small text-uppercase text-muted">Alumno
                            de Programación</span>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-5.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Fabian Ocampo</h5><span class="small text-uppercase text-muted">Alumno de
                            Programación</span>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-6.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">David Mercado</h5><span class="small text-uppercase text-muted">Alumno de
                            Programación</span>

                    </div>
                </div>
                <!-- Team item-->
                <div class="col-xl-3 col-sm-6 mb-5">
                    <div class="bg-white rounded shadow-sm py-5 px-4"><img src="img/Avatar-7.svg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Leoonardo Valdez</h5><span class="small text-uppercase text-muted">Alumno
                            de Programación</span>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>